/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.navbar{
  background-color:#aab7c5;

}

#one{
  background-image:url("../../img/movies/piano.jpg");
}

#two{
  background-image:url("../../img/movies/orange.jpg");
}

#three{
  background-image:url("../../img/movies/pile.jpg");
}

/* label focus color */
.input-field input:focus + label {
  color: orange !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important
}


.img__wrap {
  position: relative;
  float:left;
  margin-right:10px;
}

.img__description {
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: 0;
  right: 0;
  padding-top:20px;
  background: rgba(255, 255, 255, 0.72);
  color: #000;
  visibility: hidden;
  opacity: 0;
}

.carousel2{
  bottom:100px;
  padding-left:15%;
}

#fl{
  clear:both;
  padding-top:50px;
  padding-bottom:50px;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.carousel-item{
  background-size: cover;
  background-repeat: no-repeat;
}

#box1{
  background-color:#f1a329;
}

#box3{
  background-color:#aab7c5;
}

#boxChat{
  margin-top:40px;

}

#mapid { 
  height:300px;
  margin:0;
 }

#propose{
  padding-top:70px;
}

.logo{
  width:40px;
  float:left;
  margin-right:10px;
}

.clear{
  clear:both;
}

.eqp{
  float:left;
  margin-top:10px;
  margin-right:20px;
}

.container-menu { 
  margin: 0;
  width: 100%; 
  padding-left:20%;
  padding-right:20%;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  nav{
      
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#modal1{
  height: 80%;
}